opensearch.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Document: opensearch.rng

	OpenSearch description document の検査を行う

	Metadata:

		id - 8a026478-d66e-4ac8-baeb-2b957a21429e
		author - <qq542vev at https://purl.org/meta/me/>
		version - 0.1.0
		date - 2022-11-13
		since - 2022-11-13
		copyright - Copyright (C) 2022-2022 qq542vev. Some rights reserved.
		license - <CC-BY at https://creativecommons.org/licenses/by/4.0/>
		package - shell-opensearch

	See Also:

		* <Project homepage at https://github.com/qq542vev/shell-opensearch>
		* <Bag report at https://github.com/qq542vev/shell-opensearch/issues>
-->
<grammar
	xmlns="http://relaxng.org/ns/structure/1.0"
	xmlns:a="http://relaxng.org/ns/annotation/0.9"
	ns="http://a9.com/-/spec/opensearch/1.1/"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
>
	<!-- see: https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md -->
	<a:documentation xml:lang="en">
		This document defines the OpenSearch description document, the OpenSearch Query element, the OpenSearch URL template syntax, and the OpenSearch response elements. Collectively these formats may be referred to as "OpenSearch 1.1" or simply "OpenSearch".

		Search clients can use OpenSearch description documents to learn about the public interface of a search engine. These description documents contain parameterized URL templates that indicate how the search client should make search requests. Search engines can use the OpenSearch response elements to add search metadata to results in a variety of content formats.
	</a:documentation>

	<start>
		<a:documentation xml:lang="en">
			An OpenSearch description document can be used to describe the web interface of a search engine.
		</a:documentation>
		<ref name="opensearch.element.OpenSearchDescription"/>
	</start>

	<define name="opensearch.element.OpenSearchDescription">
		<element name="OpenSearchDescription">
			<a:documentation xml:lang="en">
				The root node of the OpenSearch description document.
			</a:documentation>
			<interleave>
				<ref name="opensearch.element.ShortName"/>
				<ref name="opensearch.element.Description"/>
				<oneOrMore>
					<ref name="opensearch.element.Url"/>
				</oneOrMore>
				<optional>
					<ref name="opensearch.element.Contact"/>
				</optional>
				<optional>
					<ref name="opensearch.element.Tags"/>
				</optional>
				<optional>
					<ref name="opensearch.element.LongName"/>
				</optional>
				<optional>
					<ref name="opensearch.element.Developer"/>
				</optional>
				<optional>
					<ref name="opensearch.element.Attribution"/>
				</optional>
				<optional>
					<ref name="opensearch.element.SyndicationRight"/>
				</optional>
				<optional>
					<ref name="opensearch.element.AdultContent"/>
				</optional>
				<zeroOrMore>
					<choice>
						<ref name="opensearch.element.Image"/>
						<ref name="opensearch.element.Query"/>
						<ref name="opensearch.element.Language"/>
						<ref name="opensearch.element.InputEncoding"/>
						<ref name="opensearch.element.OutputEncoding"/>
					</choice>
				</zeroOrMore>
				<ref name="opensearch.content.exceptOpenSearchAttribute"/>
				<ref name="opensearch.content.exceptOpenSearchElement"/>
			</interleave>
		</element>
	</define>

	<define name="opensearch.element.ShortName">
		<element name="ShortName">
			<a:documentation xml:lang="en">
				Contains a brief human-readable title that identifies this search engine.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="string">
				<a:documentation xml:lang="en">
					The value must contain 16 or fewer characters of plain text. The value must not contain HTML or other markup.
				</a:documentation>
				<param name="maxLength">16</param>
			</data>
		</element>
	</define>

	<define name="opensearch.element.Description">
		<element name="Description">
			<a:documentation xml:lang="en">
				Contains a human-readable text description of the search engine.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="string">
				<a:documentation xml:lang="en">
					The value must contain 1024 or fewer characters of plain text. The value must not contain HTML or other markup.
				</a:documentation>
				<param name="maxLength">1024</param>
			</data>
		</element>
	</define>

	<define name="opensearch.element.Url">
		<element name="Url">
			<a:documentation xml:lang="en">
				Describes an interface by which a client can make requests for an external resource, such as search results, search suggestions, or additional description documents.
			</a:documentation>
			<ref name="opensearch.attribute.template"/>
			<ref name="opensearch.attribute.type"/>
			<zeroOrMore>
				<choice>
					<ref name="opensearch.attribute.rel"/>
					<ref name="opensearch.attribute.indexOffset"/>
					<ref name="opensearch.attribute.pageOffset"/>
				</choice>
			</zeroOrMore>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<ref name="opensearch.content.exceptOpenSearchElement"/>
		</element>
	</define>

	<define name="opensearch.element.Contact">
		<element name="Contact">
			<a:documentation xml:lang="en">
				Contains an email address at which the maintainer of the description document can be reached.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="token">
				<a:documentation xml:lang="en">
					The value must conform to the requirements of Section 3.4.1 "Addr-spec specification" in RFC 2822.
				</a:documentation>
				<!-- see: http://www.din.or.jp/~ohzaki/mail_regex.htm#Simplify -->
				<param name="pattern">([!#-'*+/-9=?A-Z\^_-~-]+(\.[!#-'*+/-9=?A-Z\^_-~-]+)*|"([!#-Z\[\]\^_-~]|\\[\t -~])*")@[!#-'*+/-9=?A-Z\^_-~-]+(\.[!#-'*+/-9=?A-Z\^_-~-]+)*</param>
				<param name="maxLength">254</param>
			</data>
		</element>
	</define>

	<define name="opensearch.element.Tags">
		<element name="Tags">
			<a:documentation xml:lang="en">
				Contains a set of words that are used as keywords to identify and categorize this search content. Tags must be a single word and are delimited by the space character (' ').
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="token">
				<a:documentation xml:lang="en">
					The value must contain 256 or fewer characters of plain text. The value must not contain HTML or other markup.
				</a:documentation>
				<param name="maxLength">256</param>
			</data>
		</element>
	</define>

	<define name="opensearch.element.LongName">
		<element name="LongName">
			<a:documentation xml:lang="en">
				Contains an extended human-readable title that identifies this search engine.

				Search clients should use the value of the ShortName element if this element is not available.			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="string">
				<a:documentation xml:lang="en">
					The value must contain 48 or fewer characters of plain text. The value must not contain HTML or other markup.
				</a:documentation>
				<param name="maxLength">48</param>
			</data>
		</element>
	</define>

	<define name="opensearch.element.Image">
		<element name="Image">
			<a:documentation xml:lang="en">
				Contains a URL that identifies the location of an image that can be used in association with this search content.

				Image sizes are offered as a hint to the search client. The search client will choose the most appropriate image for the available space and should give preference to those listed first in the OpenSearch description document. Square aspect ratios are recommended. When possible, search engines should offer a 16x16 image of type "image/x-icon" or "image/vnd.microsoft.icon" (the Microsoft ICO format) and a 64x64 image of type "image/jpeg" or "image/png".
			</a:documentation>
			<zeroOrMore>
				<choice>
					<ref name="opensearch.attribute.height"/>
					<ref name="opensearch.attribute.width"/>
					<ref name="opensearch.attribute.type"/>
				</choice>
			</zeroOrMore>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="anyURI">
				<a:documentation xml:lang="en">
					The value must be a URI.
				</a:documentation>
			</data>
		</element>
	</define>

	<define name="opensearch.element.Query">
		<element name="Query">
			<a:documentation xml:lang="en">
				Defines a search query that can be performed by search clients. Please see the OpenSearch Query element specification for more information.

				OpenSearch description documents should include at least one Query element of role="example" that is expected to return search results. Search clients may use this example query to validate that the search engine is working properly.
			</a:documentation>
			<ref name="opensearch.attribute.role"/>
			<zeroOrMore>
				<choice>
					<ref name="opensearch.attribute.title"/>
					<ref name="opensearch.attribute.totalResults"/>
					<ref name="opensearch.attribute.searchTerms"/>
					<ref name="opensearch.attribute.count"/>
					<ref name="opensearch.attribute.startIndex"/>
					<ref name="opensearch.attribute.startPage"/>
					<ref name="opensearch.attribute.language"/>
					<ref name="opensearch.attribute.inputEncoding"/>
					<ref name="opensearch.attribute.outputEncoding"/>
				</choice>
			</zeroOrMore>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<ref name="opensearch.content.exceptOpenSearchElement"/>
		</element>
	</define>

	<define name="opensearch.element.Developer">
		<element name="Developer">
			<a:documentation xml:lang="en">
				Contains the human-readable name or identifier of the creator or maintainer of the description document.

				The developer is the person or entity that created the description document, and may or may not be the owner, author, or copyright holder of the source of the content itself.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="string">
				<a:documentation xml:lang="en">
					The value must contain 64 or fewer characters of plain text. The value must not contain HTML or other markup.
				</a:documentation>
				<param name="maxLength">64</param>
			</data>
		</element>
	</define>

	<define name="opensearch.element.Attribution">
		<element name="Attribution">
			<a:documentation xml:lang="en">
				Contains a list of all sources or entities that should be credited for the content contained in the search feed.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="string">
				<a:documentation xml:lang="en">
					The value must contain 256 or fewer characters of plain text. The value must not contain HTML or other markup.
				</a:documentation>
				<param name="maxLength">256</param>
			</data>
		</element>
	</define>

	<define name="opensearch.element.SyndicationRight">
		<element name="SyndicationRight">
			<a:documentation xml:lang="en">
				Contains a value that indicates the degree to which the search results provided by this search engine can be queried, displayed, and redistributed.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<choice>
				<a:documentation xml:lang="en">
					The value must be one of the following strings (case insensitive):
				</a:documentation>
				<data type="token">
					<param name="pattern">[Oo][Pp][Ee][Nn]</param>
				</data>
				<data type="token">
					<param name="pattern">[Ll][Ii][Mm][Ii][Tt][Ee][Dd]</param>
				</data>
				<data type="token">
					<param name="pattern">[Pp][Rr][Ii][Vv][Aa][Tt][Ee]</param>
				</data>
				<data type="token">
					<param name="pattern">[Cc][Ll][Oo][Ss][Ee][Dd]</param>
				</data>
			</choice>
		</element>
	</define>

	<define name="opensearch.element.AdultContent">
		<element name="AdultContent">
			<a:documentation xml:lang="en">
				Contains a boolean value that should be set to true if the search results may contain material intended only for adults.

				As there are no universally applicable guidelines as to what constitutes "adult" content, the search engine should make a good faith effort to indicate when there is a possibility that search results may contain material inappropriate for all audiences.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="string">
				<a:documentation xml:lang="en">
					The values "false", "FALSE", "0", "no", and "NO" will be considered boolean FALSE; all other strings will be considered boolean TRUE.
				</a:documentation>
			</data>
		</element>
	</define>

	<define name="opensearch.element.Language">
		<element name="Language">
			<a:documentation xml:lang="en">
				Contains a string that indicates that the search engine supports search results in the specified language
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<ref name="opensearch.datatype.language"/>
		</element>
	</define>

	<define name="opensearch.element.InputEncoding">
		<element name="InputEncoding">
			<a:documentation xml:lang="en">
				Contains a string that indicates that the search engine supports search requests encoded with the specified character encoding.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<ref name="opensearch.datatype.encoding"/>
		</element>
	</define>

	<define name="opensearch.element.OutputEncoding">
		<element name="OutputEncoding">
			<a:documentation xml:lang="en">
				Contains a string that indicates that the search engine supports search responses encoded with the specified character encoding.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<ref name="opensearch.datatype.encoding"/>
		</element>
	</define>

	<define name="opensearch.element.totalResults">
		<element name="totalResults">
			<a:documentation xml:lang="en">
				The number of search results available for the current search.

				If the totalResults element does not appear on the page then the search client should consider the current page to be the last page of search results.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="nonNegativeInteger">
				<a:documentation xml:lang="en">
					The value must be a non-negative integer.
				</a:documentation>
			</data>
		</element>
	</define>

	<define name="opensearch.element.startIndex">
		<element name="startIndex">
			<a:documentation xml:lang="en">
				The index of the first search result in the current set of search results.

				If the startIndex element does not appear on the page then the search client should consider the current page to be the first page of search results.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="integer">
				<a:documentation xml:lang="en">
					The value must an integer.
				</a:documentation>
			</data>
		</element>
	</define>

	<define name="opensearch.element.itemsPerPage">
		<element name="itemsPerPage">
			<a:documentation xml:lang="en">
				The number of search results returned per page.

				If the itemsPerPage element does not appear on the page then the search client should use the number of items of the current page as the default page size.
			</a:documentation>
			<ref name="opensearch.content.exceptOpenSearchAttribute"/>
			<data type="integer">
				<a:documentation xml:lang="en">
					The value must a non-negative integer.
				</a:documentation>
			</data>
		</element>
	</define>

	<define name="opensearch.element.any">
		<element>
			<anyName/>
			<ref name="opensearch.content.any"/>
		</element>
	</define>

	<define name="opensearch.attribute.template">
		<attribute name="template">
			<a:documentation xml:lang="en">
				The URL template to be processed according to the OpenSearch URL template syntax.
			</a:documentation>
			<data type="token">
				<param name="pattern">([A-Za-z]|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})([A-Za-z0-9+.-]|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*:(//(([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*@)?(\[(((([0-9A-F]{1,4}:){6}|::([0-9A-F]{1,4}:){5}|([0-9A-F]{1,4})?::([0-9A-F]{1,4}:){4}|(([0-9A-F]{1,4}:){0,1}[0-9A-F]{1,4})?::([0-9A-F]{1,4}:){3}|(([0-9A-F]{1,4}:){0,2}[0-9A-F]{1,4})?::([0-9A-F]{1,4}:){2}|(([0-9A-F]{1,4}:){0,3}[0-9A-F]{1,4})?::[0-9A-F]{1,4}:|(([0-9A-F]{1,4}:){0,4}[0-9A-F]{1,4})?::)([0-9A-F]{1,4}:[0-9A-F]{1,4}|(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))|(([0-9A-F]{1,4}:){0,5}[0-9A-F]{1,4})?::[0-9A-F]{1,4}|(([0-9A-F]{1,4}:){0,6}[0-9A-F]{1,4})?::)|v[0-9A-F]+\.[!$&amp;-.0-;=A-Z_a-z~]+)\]|([A-Za-z0-9._~!$&amp;'()*+,;=-]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*)(:([0-9]|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*)?(/([!$&amp;-.0-;=@-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*)*|/(([!$&amp;-.0-;=@-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})+(/([!$&amp;-.0-;=@-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*)*)?|([!$&amp;-.0-;=@-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})+(/([!$&amp;-.0-;=@-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*)*|)(\?([!$&amp;-;=?-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*)?(#([!$&amp;-;=?-Z_a-z~]|%[0-9A-Fa-f]{2}|\{([!$&amp;-.0-;=A-Z_a-z~]|%[0-9A-Fa-f]{2})*\??\})*)?</param>
			</data>
		</attribute>
	</define>

	<define name="opensearch.attribute.type">
		<attribute name="type">
			<a:documentation xml:lang="en">
				The MIME type of the resource being described.
			</a:documentation>
			<data type="token">
				<!-- see: https://stackoverflow.com/a/48046041 -->
				<param name="pattern">(application|audio|font|example|image|message|model|multipart|text|video|x-[!#-'*+.0-9A-Z\^_-z|~-]+)/[!#-'*+.0-9A-Z\^_-z|~-]+([\t ]*;[\t ]*[!#-'*+.0-9A-Z\^_-z|~-]+=([!#-'*+.0-9A-Z\^_-z|~-]+|"([\t !#-Z\[\]\^_-~]|\\[\t -~])*"))*</param>
			</data>
		</attribute>
	</define>

	<define name="opensearch.attribute.rel">
		<attribute name="rel" a:defaultValue="results">
			<a:documentation xml:lang="en">
				The role of the resource being described in relation to the description document.
			</a:documentation>
			<list>
				<oneOrMore>
					<choice>
						<data type="NCName">
							<param name="pattern">[a-z][a-z\-]+</param>
						</data>
						<data type="anyURI">
							<param name="pattern">[A-Za-z][A-Za-z0-9+.-]*:.*</param>
						</data>
					</choice>
				</oneOrMore>
			</list>
		</attribute>
	</define>

	<define name="opensearch.attribute.indexOffset">
		<attribute name="indexOffset" a:defaultValue="1">
			<a:documentation xml:lang="en">
				The index number of the first search result.
			</a:documentation>
			<data type="integer"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.pageOffset">
		<attribute name="pageOffset" a:defaultValue="1">
			<a:documentation xml:lang="en">
				The page number of the first set of search results.
			</a:documentation>
			<data type="integer"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.height">
		<attribute name="height">
			<a:documentation xml:lang="en">
				Contains the height, in pixels, of this image.
			</a:documentation>
			<data type="nonNegativeInteger"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.width">
		<attribute name="width">
			<a:documentation xml:lang="en">
				Contains the width, in pixels, of this image.
			</a:documentation>
			<data type="nonNegativeInteger"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.role">
		<attribute name="role">
			<a:documentation xml:lang="en">
				Contains a string identifying how the search client should interpret the search request defined by this Query element.
			</a:documentation>
			<choice>
				<a:documentation xml:lang="en">
					A role value consists of an optional prefix followed by the local role value. If the prefix is present it will be separated from the local role value with the ":" character. All role values are associated with a namespace, either implicitly in the case of local role values, or explicitly via a prefix in the case of fully qualified role values.
				</a:documentation>
				<div>
					<a:documentation xml:lang="en">
						Local role values are not preceded by a prefix. Local role values are associated with the OpenSearch 1.1 namespace.

						The following role values are identified with the OpenSearch 1.1 namespace. The list is exhaustive; only the role values listed below may appear in the OpenSearch 1.1 namespace.
					</a:documentation>
					<value>request</value>
					<value>example</value>
					<value>related</value>
					<value>correction</value>
					<value>subset</value>
					<value>superset</value>
				</div>
				<data type="QName">
					<a:documentation xml:lang="en">
						Fully qualified role values are preceded by a prefix. Fully qualified role values are associated with the namespace identified by the prefix on the containing Query element or ancestor elements.
					</a:documentation>
					<param name="pattern">.*:.*</param>
				</data>
			</choice>
		</attribute>
	</define>

	<define name="opensearch.attribute.title">
		<attribute name="title">
			<a:documentation xml:lang="en">
				Contains a human-readable plain text string describing the search request.
			</a:documentation>
			<data type="string">
				<param name="maxLength">256</param>
			</data>
		</attribute>
	</define>

	<define name="opensearch.attribute.totalResults">
		<attribute name="totalResults">
			<a:documentation xml:lang="en">
				Contains the expected number of results to be found if the search request were made.
			</a:documentation>
			<data type="nonNegativeInteger"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.searchTerms">
		<attribute name="searchTerms">
			<a:documentation xml:lang="en">
				Contains the value representing the searchTerms as a OpenSearch 1.1 parameter names.
			</a:documentation>
		</attribute>
	</define>

	<define name="opensearch.attribute.count">
		<attribute name="count">
			<a:documentation xml:lang="en">
				Contains the value representing the count as a OpenSearch 1.1 parameter names.
			</a:documentation>
			<data type="nonNegativeInteger"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.startIndex">
		<attribute name="startIndex">
			<a:documentation xml:lang="en">
				Contains the value representing the startIndex as an OpenSearch 1.1 parameter names.
			</a:documentation>
			<data type="integer"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.startPage">
		<attribute name="startPage">
			<a:documentation xml:lang="en">
				Contains the value representing the startPage as an OpenSearch 1.1 parameter names.
			</a:documentation>
			<data type="integer"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.language">
		<attribute name="language">
			<a:documentation xml:lang="en">
				Contains the value representing the language as an OpenSearch 1.1 parameter names.
			</a:documentation>
			<ref name="opensearch.datatype.language"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.inputEncoding">
		<attribute name="inputEncoding">
			<a:documentation xml:lang="en">
				Contains the value representing the inputEncoding as an OpenSearch 1.1 parameter names.
			</a:documentation>
			<ref name="opensearch.datatype.encoding"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.outputEncoding">
		<attribute name="outputEncoding">
			<a:documentation xml:lang="en">
				Contains the value representing the outputEncoding as an OpenSearch 1.1 parameter names.
			</a:documentation>
			<ref name="opensearch.datatype.encoding"/>
		</attribute>
	</define>

	<define name="opensearch.attribute.any">
		<attribute>
			<anyName/>
		</attribute>
	</define>

	<define name="opensearch.datatype.language">
		<choice>
			<a:documentation xml:lang="en">
				The value must conform to the XML 1.0 Language Identification, as specified by RFC 5646. In addition, the value of "*" will signify that the search engine does not restrict search results to any particular language.
			</a:documentation>
			<data type="language"/>
			<value>*</value>
		</choice>
	</define>

	<define name="opensearch.datatype.encoding">
		<data type="token">
			<a:documentation xml:lang="en">
				The value must conform to the XML 1.0 Character Encodings, as specified by the IANA Character Set Assignments.
			</a:documentation>
			<!-- see: http://www.w3.org/TR/2004/REC-xml-20040204/#charencoding -->
			<param name="pattern">[A-Za-z][A-Za-z0-9._-]*</param>
		</data>
	</define>

	<define name="opensearch.content.response">
		<a:documentation xml:lang="en">
			The OpenSearch response elements can be used by search engines to augment existing XML formats with search-related metadata.

			OpenSearch response elements are typically found augmenting search results returned in list-based XML syndication formats, such as RSS 2.0 and Atom 1.0, but may be used in other contexts without restriction.
		</a:documentation>
		<optional>
			<ref name="opensearch.element.totalResults"/>
		</optional>
		<optional>
			<ref name="opensearch.element.startIndex"/>
		</optional>
		<optional>
			<ref name="opensearch.element.itemsPerPage"/>
		</optional>
	</define>

	<define name="opensearch.content.exceptOpenSearchElement">
		<zeroOrMore>
			<element>
				<anyName>
					<except>
						<nsName/>
					</except>
				</anyName>
				<ref name="opensearch.content.any"/>
			</element>
		</zeroOrMore>
	</define>

	<define name="opensearch.content.exceptOpenSearchAttribute">
		<zeroOrMore>
			<attribute>
				<anyName>
					<except>
						<nsName/>
						<nsName ns=""/>
					</except>
				</anyName>
			</attribute>
		</zeroOrMore>
	</define>

	<define name="opensearch.content.any">
		<zeroOrMore>
			<choice>
				<ref name="opensearch.attribute.any"/>
				<ref name="opensearch.element.any"/>
				<text/>
			</choice>
		</zeroOrMore>
	</define>
</grammar>
